@use "./_theme.scss" as *;

.background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: auto;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-overlay;
  }
}

.movie-detail-container {
  width: 100%;
  height: calc(100vh - 100.5px);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 0 3rem;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    height: auto;
    padding: 0 1rem;
  }

  .overlay {
    position: relative;
    color: $text-primary;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 0;
    margin-top: 100.5px;
    width: 70%;

    @media (max-width: 1024px) {
      width: 100%;
    }

    .divider {
      background-color: $light-gray;
      margin: 10px 0;
    }

    .title {
      font-size: $font-size-title;
      color: $text-primary;
    }

    .tagline {
      font-size: $font-size-sm;
      font-family: "Italic";
      font-weight: 600;
      margin-bottom: 10px;
      color: $text-primary;
    }

    .overview {
      font-size: $font-size-md;
      line-height: 1.6;
      max-width: 800px;
      color: $text-primary;
    }

    .cast-section {
      &-grid {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        gap: 0.2rem;
      }

      &-card {
        text-align: center;
        padding: 0.4rem;

        &-image {
          width: 60px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
        }
        &-name {
          font-size: $font-size-sm;
          font-weight: 500;
        }
      }
    }
  }

  .video-section {
    z-index: 100;
    margin-top: 150px;
    display: flex;
    justify-content: center;

    @media (max-width: 1024px) {
      margin-top: 50px;
    }

    &-card {
      width: 300px;
      height: 450px;
      background-size: cover;
      background-position: center;
      border-radius: $border-radius-md;
      box-shadow: $box-shadow-primary;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @media (max-width: 1024px) {
        height: 400px;
      }

      @media (max-width: 768px) {
        height: 350px;
      }

      .MuiCardActions-root {
        padding: 15px;
        display: flex;
        justify-content: center;
        background: $gradient-dark;
      }

      &-button {
        background-color: $button-primary;
        color: $button-text;

        &:hover {
          background-color: $button-hover;
        }
      }
    }
  }
}
